<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G.E.B. Contacto</title>
    <link href="../Assets/Css/Style.css" rel="stylesheet" type="text/css">
</head>
<body class="MainBody">
    <header class="MainHeader">
        <nav>
            <ul>
                <li class="li-logo">
                    <img src="../Assets/Img/logo.png" class="Logo-Animado">
                </li>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="../Views/Ubicacion.html">Ubicación</a>
                </li>
                <li>
                    <a href="../Views/OctoberFest.html">OctoberFest</a>
                </li>
                <li>
                    <a href="../Views/Menu.html">Menu</a>
                </li>
                <li>
                    <a href="../Views/Contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="Contenedor">
        <h1 class="TituloPrincipal">Contacto</h1>
        <div class="card card-formulario">
            <img src="../Assets/Img/contacto.jpg" class="card-image">
            <form action="#" method="post" class="Formulario"></form>
                <h3 class="card-title card-title-formulario">Ingrese Sus Datos</h3>
                <h3 class="card-text card-text-formulario">
                    Nombre:
                    <br>
                    <input type="text" name="nombre" required pattern="[A-Z,Ñ,Á,É,Í,Ó,Ú]{1}[a-zA-Z\sñ,á,é,í,ó,ú,ü]{1,}" placeholder="Nombre completo" autofocus title="Indique su Nombre" class="Formulario-input" required/>
                </h3>
                <h3 class="card-text card-text-formulario">
                    Correo Electronico:
                    <br>
                    <input type="email" name="email" required placeholder="Correo Electronico" autofocus title="Indique su Correo Electronico" class="Formulario-input" required/>
                </h3>
                <h3 class="card-text card-text-formulario">
                    Mensaje:
                    <br>
                    <input type="text" name="mensaje" required pattern="[A-Z,Ñ,Á,É,Í,Ó,Ú]{1}[a-zA-Z\sñ,á,é,í,ó,ú,ü]{1,}" placeholder="¿Cual es su Mensaje?" class="Formulario-input Formulario-mensaje" autofocus title="¿Cual es su Mensaje?" />
                    
                </h3>
                <h3 class="card-text card-text-formulario">
                    <input type="submit" class="Formulario-enviar" value="Enviar" title="Enviar">
                </h3>
            </form>    
                
        </div>
        
    </div>
    <footer  class="Mainfooter">
        <div>
            <a href="#" class="instagram">Instagram</a>
            <a href="#" class="wpp">Whatsapp</a>
        </div>
    </footer>
</body>
</html>