<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G.E.B. Productos Destacados</title>
    <link href="../Assets/Css/Style.css" rel="stylesheet" type="text/css">
</head>
<body class="MainBody">
    <header class="MainHeader">
        <nav>
            <ul>
                <li class="li-logo">
                    <img src="../Assets/Img/logo.png" class="Logo-Animado">
                </li>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="../Views/Ubicacion.html">Ubicación</a>
                </li>
                <li>
                    <a href="../Views/OctoberFest.html">OctoberFest</a>
                </li>
                <li>
                    <a href="../Views/Menu.html">Menu</a>
                </li>
                <li>
                    <a href="../Views/Contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="Contenedor">
        <h1 class="TituloPrincipal">Cervezas Artesanales</h1>
        <div class="menu">
            <div class="menu-item">
                <div class="card">
                    <img src="../Assets/Img/Cervezas/malta.jpg" class="card-image">
                    <h3 class="card-title">Classic</h3>
                    <h3 class="card-text">Cerveza de Malta<br>$500</h3>
                </div>
            </div>
            <div class="menu-item">
                <div class="card">
                    <img src="../Assets/Img/Cervezas/roja.jpg" class="card-image">
                    <h3 class="card-title">Juicy IPA</h3>
                    <h3 class="card-text">Cerveza Roja<br>$600</h3>
                </div>
            </div>
            <div class="menu-item">
                <div class="card">
                    <img src="../Assets/Img/Cervezas/limon.jpg" class="card-image">
                    <h3 class="card-title">Lemon</h3>
                    <h3 class="card-text">Agregado de jengibre, miel, limón y menta.<br>$650</h3>
                </div>
            </div>
        </div>
        <h1 class="TituloPrincipal">Hamburguesas</h1>
        <div class="menu">
            <div class="menu-item">
                <div class="card">
                    <img src="../Assets/Img/hamburguesas/simple.jpg" class="card-image">
                    <h3 class="card-title">Simple</h3>
                    <h3 class="card-text">$800</h3>
                </div>
            </div>
            <div class="menu-item">
                <div class="card">
                    <img src="../Assets/Img/hamburguesas/bacon.jpg" class="card-image">
                    <h3 class="card-title">Bacon</h3>
                    <h3 class="card-text">$1100</h3>
                </div>
            </div>
            <div class="menu-item">
                <div class="card">
                    <img src="../Assets/Img/hamburguesas/doble.jpg" class="card-image">
                    <h3 class="card-title">Doble</h3>
                    <h3 class="card-text">$1300</h3>
                </div>
            </div>
            <div class="menu-item">
                <div class="card">
                    <img src="../Assets/Img/hamburguesas/ternera.jpg" class="card-image">
                    <h3 class="card-title">Ternera</h3>
                    <h3 class="card-text">$1300</h3>
                </div>
            </div>
            
        </div>
    </div>
    <footer  class="Mainfooter">
        <div>
            <a href="#" class="instagram">Instagram</a>
            <a href="#" class="wpp">Whatsapp</a>
        </div>
    </footer>
</body>
</html>