<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G.E.B. October Fest</title>
    <meta name="description" content="¿October Fest en GEB?">
    <link href="../Assets/Css/Style.css" rel="stylesheet" type="text/css">
</head>
<body class="MainBody">
    <header class="MainHeader">
        <nav>
            <ul>
                <li class="li-logo">
                    <img src="../Assets/Img/logo.png" class="Logo-Animado">
                </li>
            </ul>
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="../Views/Ubicacion.html">Ubicación</a>
                </li>
                <li>
                    <a href="../Views/Oktoberfest.html">Oktoberfest</a>
                </li>
                <li>
                    <a href="../Views/Menu.html">Menu</a>
                </li>
                <li>
                    <a href="../Views/Contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="Contenedor">
        <h1 class="TituloPrincipal">G.E.B</h1>
        <h2>
            ¡¡¡Ven a Disfrutar el Oktoberfest en GEB, Pormociones, Fistas, Artistas Invitados y Mucho Más!!!
        </h2>
        <div class="carrusel">
            <ul class="carrusel-fotos">
              <li id="foto1"><img src="../Assets/Img/OktoberFestCarrusel/Oktoberfest.jpg" alt="Oktoberfest"></li>
              <li id="foto2"><img src="../Assets/Img/OktoberFestCarrusel/Disfraces.jpg" alt="Fistas"></li>
              <li id="foto3"><img src="../Assets/Img/OktoberFestCarrusel/Cerveza.jpg" alt="cerveza"></li>
            </ul>
        </div>
        <div class="carrusel">
            <ul class="carrusel-menu">
                <li><a href="#foto1"><img src="../Assets/Img/OktoberFestCarrusel/Oktoberfest.jpg" alt="Oktoberfest"></a></li>
                <li><a href="#foto2"><img src="../Assets/Img/OktoberFestCarrusel/Disfraces.jpg" alt="Fistas"></a></li>
                <li><a href="#foto3"><img src="../Assets/Img/OktoberFestCarrusel/Cerveza.jpg" alt="cerveza"></a></li>
            </ul>
        </div>
        
    </div>
    <footer  class="Mainfooter">
        <div>
            <a href="#" class="instagram">Instagram</a>
            <a href="#" class="wpp">Whatsapp</a>
        </div>
    </footer>
</body>
</html>