.MainHeader
{
    font-family: Courier, monospace;
    font-size: 1.5rem;
    background-color: Black;    
    top:0px;
    grid-area: Header;
    display: flex;
    justify-content: center;
    align-items: center;
    height:120px;
    nav{
        margin:0px;
        width:100%;
        ul{
            text-align: center;
            padding: 10px;
            li {
                width: 200px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left:20px;
                padding-right:20px;
                display: inline-block;
                vertical-align: middle;
                a{
                    color: white;  
                    text-decoration:none;
                    justify-content: center;
                    align-items: center;
                }
                a:hover{
                    color: lightsalmon;  
                }
            }
        }
    }
}