.MainHeader
{
    font-family: Courier, monospace;
    font-size: 1.5rem;
    background-color: Black;    
    top:0px;
    grid-area: Header;
    display: flex;
    justify-content: center;
    align-items: center;
    height:160px;
    nav{
        margin:0px;
        width:100%;
        ul{
            text-align: center;
            padding: 0px;
            li {
                padding-top: 5px;
                padding-bottom: 5px;
                display: inline-block;
                vertical-align: middle;
                a{
                    color: white;  
                    text-decoration:none;
                    justify-content: center;
                    align-items: center;
                }
                a:hover{
                    color: lightsalmon;  
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 339px) {
    .MainHeader
    {
        font-size: 1.2rem;
        height:260px;
        ul{
            margin-top: 0px;
            margin-bottom: 0px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
@media only screen and (min-width: 340px) and (max-width: 480px) {
    .MainHeader
    {
        font-size: 1.4rem;
        height:260px;
        ul{
            margin-top: 0px;
            margin-bottom: 0px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
@media only screen and (min-width: 481px) and (max-width:859px)  {
    .MainHeader
    {
        font-size: 1.5rem;
        height:280px;
        ul{
            margin-top: 0px;
            margin-bottom: 0px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            li {
                width: 140px auto;
                padding-left:10px;
                padding-right:10px;
            }
        }
    }
}
@media only screen and (min-width: 860px) and (max-width:999px)  {
    .MainHeader
    {
        ul{
            li{
                width: 160px auto;
                padding-left:23px;
                padding-right:23px;
            }
        }
    }
}
@media only screen and (min-width: 1000px) and (max-width:1293px)  {
    .MainHeader
    {
        ul{
            li{
                width: 160px auto;
                padding-left:37px;
                padding-right:37px;
            }
        }
    }
}
@media only screen and (min-width: 1294px) and (max-width:1379px)  {
    .MainHeader
    {
        ul{
            li{
                width: 150px auto;
                padding-left:50px;
                padding-right:50px; 
            }
        }
    }
}
@media only screen and (min-width: 1380px) and (max-width:1580px)  {
    .MainHeader nav ul li {
        width: 160px auto;
        padding-left:55px;
        padding-right:55px;
    }      
}
@media only screen and (min-width: 1581px) {
    .MainHeader nav ul li {
        width: 180px auto;
        padding-left:60px;
        padding-right:60px;
    }      
}
